# --------------------------------------------------
# DOCKER POSTGRES SETTINGS
# --------------------------------------------------
POSTGRES_DB=abc_store
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres